.*.swp
._*
.DS_Store
.git
.hg
.npmrc
package-lock.json
.lock-wscript
.svn
.idea
.tgz
.github
.coverage
.wafpickle-*
config.gypi
CVS
npm-debug.log
example/*
.circleci/*
.idea/*
.coverage
.webpack
__mocks__
__tests__
keycloak-cloudfront-dynamodb
package-lock.json
