.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
example/*
.circleci/*
.idea/*
.coverage
__mocks__
__tests__
keycloak-cloudfront-dynamodb
package-lock.json