  <form action="/" method="post">
<table border="1">
    <caption>Invoke Lambda</caption>
    <tr>
        <th>Lambda url</th>
        <th>Invoke Lambda</th>
        <th>Lambda Response</th>
    </tr>
    <tr>
        <td>{{host}}</td>
        <td><input type="submit" value="Invoke"></td>
        <td>{{status}}</td>
    </tr>
</table>

            </form>